$padding1: 25px 0;
$padding2: 5px 15px;
$padding3: 20px 0;
$padding4: 5px;
$padding5: 0 20px;
$padding6: 40px 0;
$padding7: 10px;
$padding8: 70px 0;
$font-size1: 16px;
$font-size2: 20px;
$font-size3: 50px;
$width1: 0;
$width2: 100%;
$width3: 240px;
$width4: 300px;
$width5: 600px;
$border-radius: 30px;
$text-align: center;
$justify-content: center;
